$blackBorder: 1px solid black;
$buttonColor: #2B78E4;
$thColor: #CCCCCC;
$trColor: #EEEEEE;

.table{
  width: 100%;
  border: $blackBorder;
  border-collapse: collapse;
  margin-bottom: 1%;
  padding-bottom: 7px;
}
.th{
  width: 16%;
  text-align: center;
  &:first-child{
    width: 1%;
    padding-left: 5px;
  }
}
.campaignHead{
  background-color: $thColor;
}
.btn{
  color: white;
  padding: 6px;
  float: right;
  min-width: 90px;
  border: $blackBorder;
  background-color: $buttonColor;
  border:{
    style: none;
    radius: 5px;
  };
}