$blackBorder: 1px solid black;
$headerColor: #DDDDDD;
$trColor: #EEEEEE;

@mixin inputText(){
  border: $blackBorder;
  padding: 4px;
  background-color: transparent;
}

.td{
  width: 16%;
  text-align: center;
  &:first-child{
    width: 1%;
    padding-left: 5px;
  }
}

.campaignItem{
  line-height: 35px;
  &:nth-child(even){
    background-color: $trColor;
  }
}

.budget{
  @include inputText();
  width: 5%;
  min-width: 65px;
}
.name{
  @include inputText();
  width: 16%;
  min-width: 150px;
}
.status{
  width: 5%;
  min-width: 76px;
  // Composes: Is from CSS Modules, it allows me to use styles from other files
  // use: composes: className from "path";
  composes: select from "./styles.scss";
}
.date{
  display: inline-block;
  input{
    width: 50%;
    height: 23px;
    min-width: 87px;
    border: $blackBorder;
    background:{
      image: url("../images/cal.png");
      repeat: no-repeat;
      position-x: 64px;
    };
  }
}