$blackBorder: 1px solid black;
$headerColor: #DDDDDD;
$trColor: #EEEEEE;

@mixin inputText(){
  border: $blackBorder;
  padding: 4px;
  background-color: transparent;
}

.td{
  width: 16%;
  text-align: center;
  &:first-child{
    width: 1%;
    padding-left: 5px;
  }
}

.campaignItem{
  line-height: 35px;
  &:nth-child(even){
    background-color: $trColor;
  }
}

.budget{
  @include inputText();
  width: 5%;
  min-width: 65px;
}
.name{
  @include inputText();
  width: 16%;
  min-width: 150px;
}
.status{
  width: 5%;
  min-width: 76px;
  background-image:
    linear-gradient(45deg, transparent 50%, $headerColor 50%),
    linear-gradient(135deg, $headerColor 50%, transparent 50%),
    linear-gradient(to right, $headerColor, $headerColor);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    100% 0;
  background-size:
    0px 0px,
    0px 0px,
    1.5em 2.5em;
  background-repeat: no-repeat;
}
.date{
  display: inline-block;
  input{
    width: 50%;
    height: 23px;
    min-width: 87px;
    border: $blackBorder;
    background:{
      image: url("/images/cal.png");
      repeat: no-repeat;
      position-x: 64px;
    };
  }
}