$blackBorder: 1px solid black;

.dialog{
  position: absolute;
  top: 30%;
  right: 35%;
  width: 20%;
  height: 130px;
  display: flex;
  min-width: 360px;
  flex-direction: column;
  justify-content: space-around;
  border: $blackBorder;
  border-radius: 5px;
  text-align: center;
  background-color: white;
}
.dialogBtn{
  width: 20%;
  color: black;
  border: $blackBorder;
  padding: 6px;
  background-color: white;
  border:{
    radius: 5px;
  };
  margin:{
    left: auto;
    right: auto;
  };
}
.blank{
  display: none;
}