.dropDownRow{ 
  margin-bottom: 5%;
  label{
    display: inline-block;
    width: 30%;
  }
}
.dropDownRow .select{
  width: 70%;
}

.select {
  // Composes: Is from CSS Modules, it allows me to use styles from other files
  // use: composes: className from "path";
  composes: select from "./styles.scss";
}